:root{
    --bg-gray: #161616;
    --green: #1ed760;
    --dark-green: #1db954;
    --dark-dark-green: #1aa149;
    --dark-dark-dark-green: #0c5827;
    --light-green: #29e46b;
    --fuchsia: #ff55cc;
    --dark-fuchsia: #421434;
    --cream: #FBF4E9; /**/
    --dark-cream: #97938c; /**/
    --dark-dark-cream: #64615d
}