.dropdown-div  {
    position: relative;
    display: inline-block;
    width: auto;
    height: 50px;
}

.dropdown-label-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-label-arrow {
  width: 10%;
  height: 100%;
  display: flex;
  padding-right: 3px;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  border-radius:  0 25px 25px 0;
}

.dropdown-div:hover .dropdown-label-text {

}

.dropdown-div:hover .dropdown-label-arrow {
  /*display: none;*/
}
/*display: none*/

.dropdown-div:hover .dropdown-content {
  display: block;
  visibility: hidden;
  overflow: hidden;
  animation: dropdownscrolldown 0.25s forwards;
  animation-delay: 0.1s;
}

.dropdown-div:hover .dropdown-button {
  background-color: var(--dark-green); 
  color: white;
  animation: dropdownopen 0.15s forwards;
}

/*border-radius: 25px 25px 0 0;*/

.dropdown-button {
    background-color: var(--green);
    color: black;
    width: 300px;
    height: 100%;
    font-size: 16px;
    font-family: spotiFont;
    border: none;
    padding: 0px;
    border-radius: 25px;
}

/*clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--green);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    transform-origin:top;
    border-radius: 0 0 25px 25px;
}

.dropdown-option {
    background-color: var(--green);
    color: black;
    padding: 16px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-family: spotiFont;
    border: none;
}
  
.dropdown-option:hover {
  background-color: white;
  color: black;
}

.dropdown-option:active {
  background-color: #dddddd;
}

@keyframes dropdownopen{
  from {border-radius: 25px;}
  to {border-radius: 25px 25px 0 0;}
}

@keyframes dropdownscrolldown{
  from {visibility: visible; transform:scaleY(0)}
  to {visibility: visible; transform:scaleY(1)}
}

@keyframes dropdownscrollup{
  from {transform:scaleY(1)}
  to {transform:scaleY(0); display: none;}
}

@keyframes dropdownhidearrow{
  from {
    color: black;
  }
  to {
    color: var(--dark-green);
    display: none;
  }
}

