.page-header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: solid var(--green) 2px; 
    height: 80px
}

.title-container {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px
}

.visualisations-tab-container {
    display: block;
}

.page {
    display: block
}

.half-page {
    display: block;
    width: 50%;
    max-width: 50%;
}

.af-slider-container {
    margin: 10px
}